* {
  box-sizing: border-box;
}

body {
  font: 18px/1.4 'Helvetica Neue','Helvetica';
  padding: 20px;
  margin: 0;
  width: 400px;
}

.search-box {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: solid 2px rgba(0,0,0,.5);
  font: inherit;
}

.search-box:focus {
  outline: none;
}

.results-list {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
}
.results-list li {
  background: rgba(0, 0, 0, 0.07);
  margin: 0 0 1px 0;
}
.results-list li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
}
