body {
  font: 18px 'Helvetica Neue','Helvetica';
}

.wrap {
  border: solid 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  background: 
  rgba(0, 0, 0, 0.04);
}

.search-box {
  width: 200px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,.5);
  font: 18px 'Helvetica Neue','Helvetica';
}
.search-box:focus {
  outline: none;
}

.results-list {
  padding: 10px 0 0 0;
  margin: 0;
  list-style: none;
}
.results-list li {
  background: rgba(0, 0, 0, 0.07);
  margin: 0 0 1px 0;
}
.results-list li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
}